/*css 初始化*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #76becc;
	line-height: 1.15;
	
}
header{
	height: 1rem;
	background-size:100% 100% ;
}
h1 {
	font-size: 0.475rem;
	color: #fff;
	text-align: center;
	line-height: 1rem;
	font-family: 'Microsoft Yahei';
	margin-top: 0.2rem;
}
/*页面主盒子*/
.mainbox{
	display: flex;
	min-width: 1024px;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0.125rem 0.125rem 0;
}
/*第二个盒子占5份*/
.column1{
	flex: 3;
}
.column2{
	flex: 5;
	margin-left: 0.125rem;
	/*margin:0 0.125rem 0.125rem ;*/
}
.panel{
	position: relative;
	height: 5.935rem;
	background-color:#afdfe4;
	border: 1px solid #76becc;
	padding: 0 15px 20px;
	margin-bottom: 0.1875rem;
}
.panel1{
	position: relative;
	height: 9rem;
	background-color:#afdfe4;
	border: 1px solid #76becc; 
	padding: 0 15px 20px;
	margin-bottom: 0.1875rem;
}
h2{
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	color: #181d4b;
	font-size: 20px;
	font-weight: 600;
	margin-top: 0.125rem;
	font-family: 'Microsoft Yahei';
}
.chart{
    height: 5rem;
    background-color: #afdfe4;
}
.chart1{
    height: 8rem;
    background-color: #afdfe4;
}
.no{
	display: flex;
	position: relative;
	background-color: #afdfe4;
	padding: 10px;
	height: 3rem;
	
}
.no-hd{
	position: relative;
	
}

.left{
	padding: 10px;
	display: inline-block;
	margin-top: 10px;
	flex: 2;
}
.box{
	display: flex;
	min-width: 1024px;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0.125rem 0.125rem 0;
}
.intro{
	flex:1;
	background-color:#afdfe4;
	border: 1px solid #76becc;
	padding: 0 0.125rem 0.125rem 0;
	font-family: 'Microsoft Yahei';
	height: 1220px;
	line-height: 0.5rem;
}
p{
	text-align: center;
	color: #181d4b;
	font-weight: 600;
	font-family: 'Microsoft Yahei';
}
#title{
	margin: 0.25rem;
	font-size: 20px;
}
#content{
	font-size: 15px;
}
#buttontitle{
	flex: 1;
	margin: 0.25rem;
	font-size: 20px;
}